<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MainURI" value="https://cian.ru/cat.php" />
    <add key="AmountOfGoods" value="200" />
    <add key="DealType" value="sale" />
    <add key="EngineVersion" value="2" />
    <add key="OfferType" value="flat" />
    <add key="Region" value="1" />
    <add key="PathToFile" value="C:\commonFile.txt" />
  </appSettings>
</configuration>