<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MainURI" value="https://www.avito.ru/tula" />
    <add key="AmountOfGoods" value="200" />
    <add key="Query" value="диван" />
    <add key="PathToFile" value="C:\commonFile.txt" />
  </appSettings>
</configuration>